*{
    font-family: arial,sans-serif;
    margin:0px;
    color: #5F6368;

}
body{
	height:100%;
	width: 100%;
}
header nav ul {
	float: right;
	margin-top: 0px;
	position: relative;
	left: -10px;


}
header nav ul li{
	display: inline;
	padding: 0px 7px;
	color: #5F6368;
	font-size: 14px;

}
header nav ul li img{
	width: 16px;
	position: relative;
	top: 3px;
}
header nav ul li #gamil{
	width: 33px;
	position: relative;
	top: 10px;
} 

.cl{
	clear: both;
}
#logo img{
	display: block;
	margin: 160px auto 0px;
	width: 18%;
	height: auto;
}
form input{
	display: block;
text-align: center;
margin: 25px auto;
  border-radius: 100px;
  width: 38%;
  height: 43px;
box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, .1);
border-color: #dddddd21;}

#sicon {
 width: 15px;
 position: relative;
 top: -65px;
 left: 487px
}
 #icon{
 width: 25px;
 position: relative;
 top: -60px;
 left: 950px;
}

#btn{
	margin:-20px auto;
	text-align: center;
	 color: #5F6368;


}

 #btn button{
	padding: 10px 15px;
	background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 10px;
}
 #btn button:hover{
border-color: #ddd;
color: black;
cursor:pointer;
 }
a{
	text-decoration: none;
}
p{
	margin-top: 53px;
	text-align: center;
	color: #5F6368;
	font-size: 13px;
}
#bl{
	color: blue;
}
footer{
	width: 100%;
	position: fixed;
	bottom: 0px;
	color: #5F6368;

}

footer #pal{
	margin-top: 191px;
	height: 38px;
	padding-bottom:3px;
		background-color: #f2f2f2;

}
footer #pal p{
	text-align: left;
	padding: 15px;
	font-size: 14px;
	padding-left: 30px;
	color: #5F6368;
letter-spacing:1px;
}

footer #foome{
		background-color: #f2f2f2;

	height: 30px;
	text-align: left;
	font-size: 13px;
	box-shadow: #ddd;
	padding-top: 0px; 

}
footer #foome #le{
	float: left;
	width: 70%;
	padding: 10px;
	padding-left: 20px;
}
footer #foome #ri{
	float: right;
	width: 20%;
	padding: 10px;
	text-align: right;
	padding-right: 30px;

}

footer nav ul li{
	display: inline;
	padding: 10px;}

a{
  color: #5F6368;

}
a:hover{
	text-decoration: underline;
}

